$white : #ffffff;
$black : #000000;
$extraLightGrey : #E0E0E0;
$lightGrey : #BDBDBD;
$darkGrey : #616161;

$grey : #9E9E9E;
$blue : #2196F3;
$purple : #9C27B0;
$green : #4CAF50;
$yellow : #FFEB3B;
$orange : #FF9800;
$lightGreen : #8BC34A;
$lightBlue : #03A9F4;
$pink : #E91E63;
$lime : #CDDC39;