@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amethyst';
  src: url('../fonts/amethyst-webfont.woff2') format('woff2'),
  url('../fonts/amethyst-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet London 1960';
  src: url('../fonts/chaletlondonnineteensixty-webfont.woff2') format('woff2'),
  url('../fonts/chaletlondonnineteensixty-webfont.woff') format('woff'),
  url('../fonts/chaletlondonnineteensixty-webfont.ttf') format('truetype'),
  url('../fonts/chaletlondonnineteensixty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet London 1970';
  src: url('../fonts/chaletlondonnineteenseventy-webfont.woff2') format('woff2'),
  url('../fonts/chaletlondonnineteenseventy-webfont.woff') format('woff'),
  url('../fonts/chaletlondonnineteenseventy-webfont.ttf') format('truetype'),
  url('../fonts/chaletlondonnineteenseventy-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet London 1980';
  src: url('../fonts/chaletlondonnineteeneighty-webfont.woff2') format('woff2'),
  url('../fonts/chaletlondonnineteeneighty-webfont.woff') format('woff'),
  url('../fonts/chaletlondonnineteeneighty-webfont.ttf') format('truetype'),
  url('../fonts/chaletlondonnineteeneighty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet NY 1960';
  src: url('../fonts/chaletnewyorknineteensixty-webfont.woff2') format('woff2'),
  url('../fonts/chaletnewyorknineteensixty-webfont.woff') format('woff'),
  url('../fonts/chaletnewyorknineteensixty-webfont.ttf') format('truetype'),
  url('../fonts/chaletnewyorknineteensixty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet NY 1970';
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.woff2') format('woff2'),
  url('../fonts/chaletnewyorknineteenseventy-webfont.woff') format('woff'),
  url('../fonts/chaletnewyorknineteenseventy-webfont.ttf') format('truetype'),
  url('../fonts/chaletnewyorknineteenseventy-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet NY 1980';
  src: url('../fonts/chaletnewyorknineteeneighty-webfont.woff2') format('woff2'),
  url('../fonts/chaletnewyorknineteeneighty-webfont.woff') format('woff'),
  url('../fonts/chaletnewyorknineteeneighty-webfont.ttf') format('truetype'),
  url('../fonts/chaletnewyorknineteeneighty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Chalet Paris 1960';
  src: url('../fonts/chaletparisnineteensixty-webfont.woff2') format('woff2'),
  url('../fonts/chaletparisnineteensixty-webfont.woff') format('woff'),
  url('../fonts/chaletparisnineteensixty-webfont.ttf') format('truetype'),
  url('../fonts/chaletparisnineteensixty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet Paris 1970';
  src: url('../fonts/chaletparisnineteenseventy-webfont.woff2') format('woff2'),
  url('../fonts/chaletparisnineteenseventy-webfont.woff') format('woff'),
  url('../fonts/chaletparisnineteenseventy-webfont.ttf') format('truetype'),
  url('../fonts/chaletparisnineteenseventy-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet Paris 1980';
  src: url('../fonts/chaletparisnineteeneighty-webfont.woff2') format('woff2'),
  url('../fonts/chaletparisnineteeneighty-webfont.woff') format('woff'),
  url('../fonts/chaletparisnineteeneighty-webfont.ttf') format('truetype'),
  url('../fonts/chaletparisnineteeneighty-webfont.svg#chaletmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}