@import 'colors';

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    color: $white;
}

body {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    margin : 0;
    min-height: 100vh;
    padding: 0 2rem;
    position: relative;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

*::-webkit-scrollbar { display: none; }

.content-container {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}