@import 'colors';

input[type=file] {
    display: none;
}

#title {
    color: $white;
    font-family: 'Chalet Paris 1980', sans-serif;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate3d(-50%, 0, 0);
    text-transform: uppercase;
    text-align: center;
    width: 500px;
}

#launch1 {
    color: $extraLightGrey;
    font-family: 'Chalet Paris 1980', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
    width: 500px;
}

#launch2 {
    color: $extraLightGrey;
    font-family: 'Chalet Paris 1980', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
    width: 500px;
}

#dragDrop {
    color: $white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Chalet Paris 1980', sans-serif;
    font-size: 1.5rem;
    height: 200px;
    position: relative;
    width: 200px;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);

        circle {
            fill: transparent;
            stroke: $lightGrey;
            stroke-width: 3px;
            stroke-dasharray: 157;
            stroke-dashoffset: 157;

            @keyframes move {
                to {
                    stroke-dashoffset: -157;
                }
            }

            &:hover {
                animation: move 0.3s linear forwards;
            }
        }
    }

    p {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;

        span {
            margin: 0.5rem;
        }
    }
}

#searchFile {
    color: $white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Chalet Paris 1980', sans-serif;
    font-size: 1.5rem;
    height: 200px;
    position: relative;
    width: 200px;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);

        circle {
            fill: transparent;
            stroke: $lightGrey;
            stroke-width: 3px;
            stroke-dasharray: 157;
            stroke-dashoffset: 157;

            @keyframes move {
                to {
                    stroke-dashoffset: -157;
                }
            }

            &:hover {
                animation: move 0.3s linear forwards;
            }
        }
    }

    label {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        cursor: pointer;

        span {
            margin: 0.5rem;
        }
    }
}

#songName {
    font-family: 'Chalet London 1980', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    left: 50%;
    opacity: 0;
    top: 60px;
    transform: translate3d(-50%, 0, 0);
    transition: color 0.3s;
    text-align: center;
    width: 500px;
}

.getFile {
    display : flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translate3d(-50%, 0, 0);

    .separator {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size : 2rem;
        margin: 0 2rem;
    }
}

.tip {
    display: flex;
    flex-direction: column;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 10px;

    span {
        color: $grey;
        font-size: 1.5rem;
    }
}