@import 'colors';

/* Resetting element */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Styling element */

/********************
** Styling the thumb
*********************

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $extraLightGrey;
    border: 1px solid $lightGrey;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: -5px;
    width: 20px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    background: $extraLightGrey;
    border: 1px solid $lightGrey;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: -5px;
    width: 20px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    background: $extraLightGrey;
    border: 1px solid $lightGrey;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: -5px;
    width: 20px;
}


/********************
** Styling the track
********************/

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $white;
    border-radius: 1rem;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $white;
    border-radius: 1rem;
}

/* All the same stuff for MOFOS IE in a hundred of fuckin lines */

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: $white;
    border-radius: 2rem;
}
input[type=range]:focus::-ms-fill-lower {
    background: $white;
}
input[type=range]::-ms-fill-upper {
    background: $white;
    border-radius: 2rem;
}
input[type=range]:focus::-ms-fill-upper {
    background: $white;
}
