@media screen and (max-width: 1599px) {
    .content-container {
        flex-direction: column-reverse;
    }

    .spectrum-container {
        margin: 0 auto 5rem auto;
        padding: 0;
    }

    .spectrumSettingsPanel-container {
        margin: auto;
    }

    .tip {
        width: 200px;
    }
}