@import 'colors';

.spectrumSettingsPanel-container {
    background-color: #141414;
    border-radius: 20px;
    width: 650px;
}

.spectrumSettingsPanel {

    padding: 2.5rem;

    &.left {
        text-align: left;

        h1 {
            text-align: left;
        }
    }

    &.right {
        text-align: right;

        h1 {
            text-align: right;
        }
    }

    h3.title {
        color: $extraLightGrey;
        font-family: 'Chalet Paris 1970', sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        opacity: 0;
    }

    .btn-container {
    }

    .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin : 0 0 1rem 0;

        &:last-child {
            margin : 0;
        }
    }

    .btn {
        background-color: transparent;
        border : 2px solid $white;
        border-radius: 5px;
        /*text-transform: uppercase;*/
        box-sizing: border-box;
        color: $white;
        font-family: 'Chalet London 1980', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        opacity: 0;
        margin: 0 1rem 0 0;
        padding: 1rem;
        position: relative;
        outline: none;
        transition: color 0.3s, background-color 0.3s, border 0.3s;
        width: 500px;

        &:last-child {
            margin: 0;
        }

        &:hover {
            background-color: $white;
            color: $darkGrey;
            cursor: pointer;
        }

        &.btn-active {
            background-color: $white;
            color: $darkGrey;
        }

        /* Transparent -> color/white -> color/white */

        &.btn-grey {
            border-color: $grey;
            color: $grey;

            &:hover {
                background-color: $grey;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $grey;
                color: $white;
            }
        }
        &.btn-blue {
            border-color: $blue;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $blue;
                color: $white;
            }
        }
        &.btn-purple {
            border-color: $purple;
            color: $purple;

            &:hover {
                background-color: $purple;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $purple;
                color: $white;
            }
        }
        &.btn-green {
            border-color: $green;
            color: $green;

            &:hover {
                background-color: $green;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $green;
                color: $white;
            }
        }
        &.btn-yellow {
            border-color: $yellow;
            color: $yellow;

            &:hover {
                background-color: $yellow;
                color: $darkGrey;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $yellow;
                color: $darkGrey;
            }
        }
        &.btn-orange {
            border-color: $orange;
            color: $orange;

            &:hover {
                background-color: $orange;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $orange;
                color: $white;
            }
        }
        &.btn-lightGreen {
            border-color: $lightGreen;
            color: $lightGreen;

            &:hover {
                background-color: $lightGreen;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $lightGreen;
                color: $white;
            }
        }
        &.btn-lightBlue {
            border-color: $lightBlue;
            color: $lightBlue;

            &:hover {
                background-color: $lightBlue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $lightBlue;
                color: $white;
            }
        }
        &.btn-pink {
            border-color: $pink;
            color: $pink;

            &:hover {
                background-color: $pink;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $pink;
                color: $white;
            }
        }
        &.btn-lime {
            border-color: $lime;
            color: $lime;

            &:hover {
                background-color: $lime;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $lime;
                color: $white;
            }
        }


        /* Transparent -> color/white -> white/color */
        /*
        &.btn-grey {
            border-color: $grey;
            color: $grey;

            &:hover {
                background-color: $grey;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $grey;
            }
        }
        &.btn-blue {
            border-color: $blue;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $blue;
            }
        }
        &.btn-purple {
            border-color: $purple;
            color: $purple;

            &:hover {
                background-color: $purple;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $purple;
            }
        }
        &.btn-green {
            border-color: $green;
            color: $green;

            &:hover {
                background-color: $green;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $green;
            }
        }
        &.btn-yellow {
            border-color: $yellow;
            color: $yellow;

            &:hover {
                background-color: $yellow;
                color: $darkGrey;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $yellow;
            }
        }
        &.btn-orange {
            border-color: $orange;
            color: $orange;

            &:hover {
                background-color: $orange;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $orange;
            }
        }
        &.btn-lightGreen {
            border-color: $lightGreen;
            color: $lightGreen;

            &:hover {
                background-color: $lightGreen;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lightGreen;
            }
        }
        &.btn-lightBlue {
            border-color: $lightBlue;
            color: $lightBlue;

            &:hover {
                background-color: $lightBlue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lightBlue;
            }
        }
        &.btn-pink {
            border-color: $pink;
            color: $pink;

            &:hover {
                background-color: $pink;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $pink;
            }
        }
        &.btn-lime {
            border-color: $lime;
            color: $lime;

            &:hover {
                background-color: $lime;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lime;
            }
        }
        */

    }

    section {
        margin-bottom: 2.5rem;
    }

    section:last-of-type {
        margin-bottom: 0;
    }

    .range-container {

        color: $lightGrey;
        font-family: 'Chalet London 1960', sans-serif;
        position: relative;
        opacity : 0;
        display: flex;
        flex-direction: column;

        margin : 0 0 1.5rem 0;

        .range-desc {

            position: relative;
            margin-bottom: 1.5rem;

            h4.subTitle {
                color: $lightGrey;
                font-family: 'Chalet Paris 1960', sans-serif;
                font-size: 2rem;
                line-height: 2rem;
                position: absolute;
                right: 60px;
            }

            label {
                font-size: 2rem;
                line-height: 2rem;
                position: relative;
                right: 0;
            }
        }
        input[type="range"] {
            width: 100%;
        }
    }

    .spectrumCategory {
        margin-bottom: 5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}