body {
    background-color: black;
    color: white;
    margin : 0;
    padding: 0;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin: auto;
    width: 900px;
    position: relative;
}

/**::-webkit-scrollbar { display: none; }*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    to {
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    to {
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.spectre {
    background-color: red;
    border-radius: 50%;
    transform: rotate(-90deg);
    /*animation: rotating 60s linear infinite;*/
}

#controlPanel {
    position: absolute;
}