@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Amethyst';
  src: url("../fonts/amethyst-webfont.woff2") format("woff2"), url("../fonts/amethyst-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet London 1960';
  src: url("../fonts/chaletlondonnineteensixty-webfont.woff2") format("woff2"), url("../fonts/chaletlondonnineteensixty-webfont.woff") format("woff"), url("../fonts/chaletlondonnineteensixty-webfont.ttf") format("truetype"), url("../fonts/chaletlondonnineteensixty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet London 1970';
  src: url("../fonts/chaletlondonnineteenseventy-webfont.woff2") format("woff2"), url("../fonts/chaletlondonnineteenseventy-webfont.woff") format("woff"), url("../fonts/chaletlondonnineteenseventy-webfont.ttf") format("truetype"), url("../fonts/chaletlondonnineteenseventy-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet London 1980';
  src: url("../fonts/chaletlondonnineteeneighty-webfont.woff2") format("woff2"), url("../fonts/chaletlondonnineteeneighty-webfont.woff") format("woff"), url("../fonts/chaletlondonnineteeneighty-webfont.ttf") format("truetype"), url("../fonts/chaletlondonnineteeneighty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet NY 1960';
  src: url("../fonts/chaletnewyorknineteensixty-webfont.woff2") format("woff2"), url("../fonts/chaletnewyorknineteensixty-webfont.woff") format("woff"), url("../fonts/chaletnewyorknineteensixty-webfont.ttf") format("truetype"), url("../fonts/chaletnewyorknineteensixty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet NY 1970';
  src: url("../fonts/chaletnewyorknineteenseventy-webfont.woff2") format("woff2"), url("../fonts/chaletnewyorknineteenseventy-webfont.woff") format("woff"), url("../fonts/chaletnewyorknineteenseventy-webfont.ttf") format("truetype"), url("../fonts/chaletnewyorknineteenseventy-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet NY 1980';
  src: url("../fonts/chaletnewyorknineteeneighty-webfont.woff2") format("woff2"), url("../fonts/chaletnewyorknineteeneighty-webfont.woff") format("woff"), url("../fonts/chaletnewyorknineteeneighty-webfont.ttf") format("truetype"), url("../fonts/chaletnewyorknineteeneighty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet Paris 1960';
  src: url("../fonts/chaletparisnineteensixty-webfont.woff2") format("woff2"), url("../fonts/chaletparisnineteensixty-webfont.woff") format("woff"), url("../fonts/chaletparisnineteensixty-webfont.ttf") format("truetype"), url("../fonts/chaletparisnineteensixty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet Paris 1970';
  src: url("../fonts/chaletparisnineteenseventy-webfont.woff2") format("woff2"), url("../fonts/chaletparisnineteenseventy-webfont.woff") format("woff"), url("../fonts/chaletparisnineteenseventy-webfont.ttf") format("truetype"), url("../fonts/chaletparisnineteenseventy-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chalet Paris 1980';
  src: url("../fonts/chaletparisnineteeneighty-webfont.woff2") format("woff2"), url("../fonts/chaletparisnineteeneighty-webfont.woff") format("woff"), url("../fonts/chaletparisnineteeneighty-webfont.ttf") format("truetype"), url("../fonts/chaletparisnineteeneighty-webfont.svg#chaletmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  color: #ffffff; }

body {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0 2rem;
  position: relative; }

h1, h2, h3, h4, h5 {
  margin: 0; }

p {
  margin: 0; }

*::-webkit-scrollbar {
  display: none; }

.content-container {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px; }

input[type=file] {
  display: none; }

#title {
  color: #ffffff;
  font-family: 'Chalet Paris 1980', sans-serif;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate3d(-50%, 0, 0);
  text-transform: uppercase;
  text-align: center;
  width: 500px; }

#launch1 {
  color: #E0E0E0;
  font-family: 'Chalet Paris 1980', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translate3d(-50%, 0, 0);
  text-align: center;
  width: 500px; }

#launch2 {
  color: #E0E0E0;
  font-family: 'Chalet Paris 1980', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate3d(-50%, 0, 0);
  text-align: center;
  width: 500px; }

#dragDrop {
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Chalet Paris 1980', sans-serif;
  font-size: 1.5rem;
  height: 200px;
  position: relative;
  width: 200px; }
  #dragDrop svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); }
    #dragDrop svg circle {
      fill: transparent;
      stroke: #BDBDBD;
      stroke-width: 3px;
      stroke-dasharray: 157;
      stroke-dashoffset: 157; }
@keyframes move {
  to {
    stroke-dashoffset: -157; } }
      #dragDrop svg circle:hover {
        animation: move 0.3s linear forwards; }
  #dragDrop p {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center; }
    #dragDrop p span {
      margin: 0.5rem; }

#searchFile {
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Chalet Paris 1980', sans-serif;
  font-size: 1.5rem;
  height: 200px;
  position: relative;
  width: 200px; }
  #searchFile svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); }
    #searchFile svg circle {
      fill: transparent;
      stroke: #BDBDBD;
      stroke-width: 3px;
      stroke-dasharray: 157;
      stroke-dashoffset: 157; }
@keyframes move {
  to {
    stroke-dashoffset: -157; } }
      #searchFile svg circle:hover {
        animation: move 0.3s linear forwards; }
  #searchFile label {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    cursor: pointer; }
    #searchFile label span {
      margin: 0.5rem; }

#songName {
  font-family: 'Chalet London 1980', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  left: 50%;
  opacity: 0;
  top: 60px;
  transform: translate3d(-50%, 0, 0);
  transition: color 0.3s;
  text-align: center;
  width: 500px; }

.getFile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate3d(-50%, 0, 0); }
  .getFile .separator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    margin: 0 2rem; }

.tip {
  display: flex;
  flex-direction: column;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 10px; }
  .tip span {
    color: #9E9E9E;
    font-size: 1.5rem; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  to {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  to {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); } }
.spectrum-container {
  padding: 2.5rem; }

.spectrum {
  background-color: #282828;
  border-radius: 50%;
  opacity: 0;
  transform: rotate(-90deg);
  /*animation: rotating 60s linear infinite;*/ }

.spectrumSettingsPanel-container {
  background-color: #141414;
  border-radius: 20px;
  width: 650px; }

.spectrumSettingsPanel {
  padding: 2.5rem; }
  .spectrumSettingsPanel.left {
    text-align: left; }
    .spectrumSettingsPanel.left h1 {
      text-align: left; }
  .spectrumSettingsPanel.right {
    text-align: right; }
    .spectrumSettingsPanel.right h1 {
      text-align: right; }
  .spectrumSettingsPanel h3.title {
    color: #E0E0E0;
    font-family: 'Chalet Paris 1970', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    opacity: 0; }
  .spectrumSettingsPanel .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0; }
    .spectrumSettingsPanel .btn-row:last-child {
      margin: 0; }
  .spectrumSettingsPanel .btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    /*text-transform: uppercase;*/
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Chalet London 1980', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    opacity: 0;
    margin: 0 1rem 0 0;
    padding: 1rem;
    position: relative;
    outline: none;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    width: 500px;
    /* Transparent -> color/white -> color/white */
    /* Transparent -> color/white -> white/color */
        /*
        &.btn-grey {
            border-color: $grey;
            color: $grey;

            &:hover {
                background-color: $grey;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $grey;
            }
        }
        &.btn-blue {
            border-color: $blue;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $blue;
            }
        }
        &.btn-purple {
            border-color: $purple;
            color: $purple;

            &:hover {
                background-color: $purple;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $purple;
            }
        }
        &.btn-green {
            border-color: $green;
            color: $green;

            &:hover {
                background-color: $green;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $green;
            }
        }
        &.btn-yellow {
            border-color: $yellow;
            color: $yellow;

            &:hover {
                background-color: $yellow;
                color: $darkGrey;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $yellow;
            }
        }
        &.btn-orange {
            border-color: $orange;
            color: $orange;

            &:hover {
                background-color: $orange;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $orange;
            }
        }
        &.btn-lightGreen {
            border-color: $lightGreen;
            color: $lightGreen;

            &:hover {
                background-color: $lightGreen;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lightGreen;
            }
        }
        &.btn-lightBlue {
            border-color: $lightBlue;
            color: $lightBlue;

            &:hover {
                background-color: $lightBlue;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lightBlue;
            }
        }
        &.btn-pink {
            border-color: $pink;
            color: $pink;

            &:hover {
                background-color: $pink;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $pink;
            }
        }
        &.btn-lime {
            border-color: $lime;
            color: $lime;

            &:hover {
                background-color: $lime;
                color: $white;
                cursor: pointer;
            }

            &.btn-active {
                background-color: $white;
                border-color : $white;
                color: $lime;
            }
        }
        */ }
    .spectrumSettingsPanel .btn:last-child {
      margin: 0; }
    .spectrumSettingsPanel .btn:hover {
      background-color: #ffffff;
      color: #616161;
      cursor: pointer; }
    .spectrumSettingsPanel .btn.btn-active {
      background-color: #ffffff;
      color: #616161; }
    .spectrumSettingsPanel .btn.btn-grey {
      border-color: #9E9E9E;
      color: #9E9E9E; }
      .spectrumSettingsPanel .btn.btn-grey:hover {
        background-color: #9E9E9E;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-grey.btn-active {
        background-color: #9E9E9E;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-blue {
      border-color: #2196F3;
      color: #2196F3; }
      .spectrumSettingsPanel .btn.btn-blue:hover {
        background-color: #2196F3;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-blue.btn-active {
        background-color: #2196F3;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-purple {
      border-color: #9C27B0;
      color: #9C27B0; }
      .spectrumSettingsPanel .btn.btn-purple:hover {
        background-color: #9C27B0;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-purple.btn-active {
        background-color: #9C27B0;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-green {
      border-color: #4CAF50;
      color: #4CAF50; }
      .spectrumSettingsPanel .btn.btn-green:hover {
        background-color: #4CAF50;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-green.btn-active {
        background-color: #4CAF50;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-yellow {
      border-color: #FFEB3B;
      color: #FFEB3B; }
      .spectrumSettingsPanel .btn.btn-yellow:hover {
        background-color: #FFEB3B;
        color: #616161;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-yellow.btn-active {
        background-color: #FFEB3B;
        color: #616161; }
    .spectrumSettingsPanel .btn.btn-orange {
      border-color: #FF9800;
      color: #FF9800; }
      .spectrumSettingsPanel .btn.btn-orange:hover {
        background-color: #FF9800;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-orange.btn-active {
        background-color: #FF9800;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-lightGreen {
      border-color: #8BC34A;
      color: #8BC34A; }
      .spectrumSettingsPanel .btn.btn-lightGreen:hover {
        background-color: #8BC34A;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-lightGreen.btn-active {
        background-color: #8BC34A;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-lightBlue {
      border-color: #03A9F4;
      color: #03A9F4; }
      .spectrumSettingsPanel .btn.btn-lightBlue:hover {
        background-color: #03A9F4;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-lightBlue.btn-active {
        background-color: #03A9F4;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-pink {
      border-color: #E91E63;
      color: #E91E63; }
      .spectrumSettingsPanel .btn.btn-pink:hover {
        background-color: #E91E63;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-pink.btn-active {
        background-color: #E91E63;
        color: #ffffff; }
    .spectrumSettingsPanel .btn.btn-lime {
      border-color: #CDDC39;
      color: #CDDC39; }
      .spectrumSettingsPanel .btn.btn-lime:hover {
        background-color: #CDDC39;
        color: #ffffff;
        cursor: pointer; }
      .spectrumSettingsPanel .btn.btn-lime.btn-active {
        background-color: #CDDC39;
        color: #ffffff; }
  .spectrumSettingsPanel section {
    margin-bottom: 2.5rem; }
  .spectrumSettingsPanel section:last-of-type {
    margin-bottom: 0; }
  .spectrumSettingsPanel .range-container {
    color: #BDBDBD;
    font-family: 'Chalet London 1960', sans-serif;
    position: relative;
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0; }
    .spectrumSettingsPanel .range-container .range-desc {
      position: relative;
      margin-bottom: 1.5rem; }
      .spectrumSettingsPanel .range-container .range-desc h4.subTitle {
        color: #BDBDBD;
        font-family: 'Chalet Paris 1960', sans-serif;
        font-size: 2rem;
        line-height: 2rem;
        position: absolute;
        right: 60px; }
      .spectrumSettingsPanel .range-container .range-desc label {
        font-size: 2rem;
        line-height: 2rem;
        position: relative;
        right: 0; }
    .spectrumSettingsPanel .range-container input[type="range"] {
      width: 100%; }
  .spectrumSettingsPanel .spectrumCategory {
    margin-bottom: 5rem; }
    .spectrumSettingsPanel .spectrumCategory:last-of-type {
      margin-bottom: 0; }

/* Resetting element */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Styling element */
/********************
** Styling the thumb
*********************

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #E0E0E0;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-top: -5px;
  width: 20px; }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background: #E0E0E0;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-top: -5px;
  width: 20px; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background: #E0E0E0;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-top: -5px;
  width: 20px; }

/********************
** Styling the track
********************/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 1rem; }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 1rem; }

/* All the same stuff for MOFOS IE in a hundred of fuckin lines */
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border-radius: 2rem; }

input[type=range]:focus::-ms-fill-lower {
  background: #ffffff; }

input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border-radius: 2rem; }

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff; }

@media screen and (max-width: 1599px) {
  .content-container {
    flex-direction: column-reverse; }

  .spectrum-container {
    margin: 0 auto 5rem auto;
    padding: 0; }

  .spectrumSettingsPanel-container {
    margin: auto; }

  .tip {
    width: 200px; } }

/*# sourceMappingURL=master.css.map */
